.headerContainer {
    padding: 16px;

    .header,
    .twitter {
        background-color: white;
        border-radius: 6px 6px 0 0;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
        padding: 16px;
    }

    .twitter {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0 0 6px 6px;
        text-align: center;
        font-size: 0;
    }

    .profileImg {
        width: 120px;
        height: 120px;
        background-image: url("/imgs/profile.png");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 100%;
        margin: 0 auto;
    }

    .name {
        margin-top: 16px;
        text-align: center;
        font-size: 22px;

        a {
            color: #009ee3;
            text-decoration: none;
        }
    }

    @media only screen and (min-width: 768px) {
        width: 700px;
        margin: 0 auto;
    }
}
