$backgroundLight: #ededed;
$backgroundDark: #252525;

$boxBackgroundLight: #fff;
$boxBackgroundDark: #383838;

$textBlackLight: #000000;
$textBlackDark: #eee;

$textGrayLight: #4a4a4a;
$textGrayDark: #a9a9a9;

$textBlueLight: #147cbb;
$textBlueDark: #7bc4f1;

$inputBackgroundLight: #f5f5f5;
$inputBackgroundDark: #565656;

$buttonBackgroundLight: rgba(65, 137, 230, 0.15);
$buttonBackgroundDark: #006693;

$buttonTextLight: #009ee3;
$buttonTextDark: #ededed;

$borderButtonLight: #009ee3;
$borderButtonDark: #006693;
